@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #98a7a8;
    color: #373737;
}

.searchbox {
    width: 600px;
    background-color: #fff;
    margin: 200px auto 0;
    border-radius: 5px;
}

input {
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #373737;
    padding: 10px 20px;
    width: 90%;
}

.resultbox {
    max-height: 300px;
    overflow-y: scroll;
    border-top: 1px solid #999;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    ;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.resultbox ul {
    /* border-top: 1px solid #999; */
    padding: 0px 0px;
}

.resultbox ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 20px;
    cursor: pointer;
}

.resultbox ul li:hover {
    background: #e9f3ff;
}

::placeholder {
    color: #373737;
}