@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7cf9e5;
  font-family: "Nunito", sans-serif;
}

.section {
  min-height: 100vh;
  padding-top: 100px;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}

h1 {
  font-size: 2.3rem;
  margin-bottom: 50px;
  color: rgb(38, 10, 254);
  text-align: center;
}

.accordion {
  max-width: 700px;
  margin-inline: auto;
}

.accordion_item {
  border: 1px solid rgb(181, 9, 224);
  padding: 1.3rem;
}

.accordion_title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 2rem;
}

.accordion_title > h3 {
  flex: 1;
  font-size: 24px;
}

.accordion_title i {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.accordion_content {
  display: none;
  transition: all 0.3s linear;
}

.accordion_title.active + .accordion_content {
  display: block;
  padding-top: 20px;
}

.accordion_content p {
  font-size: 20px;
  color: rgb(38, 10, 254);
}

.accordion_title.active i {
  transform: rotate(180deg);
}

.accordion_title.active {
  border-bottom: 2px solid rgb(181, 9, 224);
}
